<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help Desk</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<div class="container">

<h1>🖥️ IT Help Desk</h1>

<p>
Sistema de gerenciamento de chamados técnicos
</p>


<a href="/chamado">
<button>
Abrir chamado
</button>
</a>


<a href="/login">
<button>
Login
</button>
</a>


</div>

</body>

</html>